* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F5F5F5;
  display: grid;
  grid-template-rows: 70px 1fr;

}
header{
  background: #006A6A;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
  padding: 0 1rem;
}
section>h3{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #006A6A;
}

.checkedTask{
  text-decoration: line-through;
}

.title>h1{
  text-transform: uppercase;
  color:#3AD5CD;
  font-weight: 300;
}
.title>h1>span{
  font-weight: bold;
}
.add{
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
}
.add>input{
  width: 78%;
  padding: 0.5rem;
  border: none;
  opacity: 0.6;
  outline-style: none;
}
.add>button{
  width: 20%;
  padding: 0.5rem;
  border: none;
  background:#36AFD1;
  color: #F5F5F5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  outline-style: none;
  cursor: pointer;
  transition: all 100ms;
}
button:active{
  opacity: 0.7;
}
.list, .checked{
  padding: 2rem 0;
}
.list>tr{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.list>tr>td{
  padding: 0.5rem;
}
.list>tr>td:nth-child(2){
  flex-grow: 8;
}
.list>tr>td>button{
  border: none;
}